<nav class="navbar navbar-expand-md fixed-top homestay-nav <%= (currentPath === '/listings') ? 'navbar-transparent' : '' %>">
  <div class="container-fluid d-flex align-items-center justify-content-between">

    <a class="navbar-brand d-flex align-items-center" href="/listings">
      <i class="fa-solid fa-circle me-2"></i>
      <span class="brand-name">Homestay</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="d-flex flex-column flex-md-row  align-items-md-center w-100">

        <div class="navbar-nav flex-md-row mx-auto ">
          <a class="nav-link " aria-current="page" href="/listings">Explore</a>
        </div>

        <div class="navbar-nav flex-md-row align-items-md-center ms-md-auto">
          <a class="nav-link host-link mx-auto" href="/listings/new">Become a Host</a>
          <% if (!currUser){ %>
          <a class="nav-link mx-auto" href="/signup"><b>Signup</b></a>
          <a class="nav-link mx-auto" href="/login"><b>Login</b></a>
          <% } else { %>
          <a class="nav-link mx-auto" href="/logout"><b>Logout</b></a>
          <% } %>
        </div>

      </div>
    </div>

  </div>
</nav>