<% layout("/layouts/boilerplate") %>
<H3>Create a New Listing:</H3>
<form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" name="listing[title]" placeholder="enter title" class="form-control " required>
        <div class="valid-feedback">
            Title Looks good!
        </div>
        <div class="invalid-feedback">
            Enter a Valid Title
        </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="enter description" class="form-control" required></textarea>
        <div class="valid-feedback">
            Description Looks good!
        </div>
        <div class="invalid-feedback">
            Enter a Valid Description
        </div>
    </div>
    <div class="mb-3" >
        <label for="price" class="form-label">Price</label>
        <input type="number" name="listing[price]" placeholder="enter Price" class="form-control" required>
        <div class="valid-feedback">
            Price Looks good!
        </div>
        <div class="invalid-feedback">
            Enter a Valid Price
        </div>
    </div>
    <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input type="file" name="listing[image]" placeholder="enter Image link/URL" class="form-control">
    </div>
    <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input type="text" name="listing[location]" placeholder="enter location" class="form-control" required>
        <div class="valid-feedback">
            Location Looks good!
        </div>
        <div class="invalid-feedback">
            Enter a Valid Location
        </div>
    </div>
    <div class="mb-3">
        <label for="country" class="form-label">Counrtry</label>
        <input type="text" name="listing[country]" placeholder="enter country" class="form-control" required>
        <div class="valid-feedback">
            Country Looks good!
        </div>
        <div class="invalid-feedback">
            Enter a Valid Country
        </div>
    </div>
    <button class="btn btn-dark add-btn">Add</button>
</form>
